@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*
<div class="grid-container" style="margin: 0 -5px;">
<div class="card" style="width: 18rem;">
  <img src="~/css/images/pizza.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pizza</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="~/css/images/burger.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Burger</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="~/css/images/french.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">French Fries</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="~/css/images/pasta.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pasta</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="~/css/images/bur.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
*@

<!DOCTYPE html>
<html>
<head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /*background-color: #2196F3;*/
  padding: 10px;
}
.grid-item {
 /* background-color: rgba(255, 255, 255, 0.8);*/
  
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>
</head>
<body>

<h1>Welcome to Food Cart</h1>



<div class="grid-container">
  <div class="grid-container" style="margin: 0 -5px;">
<div class="card" style="width: 18rem;">
  <img src="~/css/images/pizza.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pizza</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   @* <a href="#" class="btn btn-primary">Go somewhere</a>*@
  </div>
</div>
  
<div class="card" style="width: 18rem;">
  <img src="~/css/images/burger.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Burger</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   @* <a href="#" class="btn btn-primary">Go somewhere</a>*@
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="~/css/images/french.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">French Fries</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="~/css/images/pasta.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pasta</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="~/css/images/bur.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
  </div>
</div>  

<div class="card" style="width: 18rem;">
  <img src="~/css/images/bur.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
  </div>
</div>  


 

</div>










</body>
</html>

